.category_btn_area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 2rem;
    border: 3px solid red;
}

.category_btn{
    cursor: pointer; 
    border: 3px solid;
  padding: 0.3rem 1rem 0.3rem 1rem;
  border-radius:10px;
  background-color: white;
}
.category_btn:hover{
    transform: scale(1.1);
}