.movie-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0px auto;
  padding: 20px 10px;
  text-decoration: none;
  color: black;
}

.movie-card {
  width: 200px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  transition:0.09s;
  transition-timing-function: ease-in-out;
  
}


.movie-card:hover {
  /* background-color: rgb(157, 163, 165); */
  transform: scale(1.1);
}

.movie-card .movie-image {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.movie-card .movie-title {
  margin-top: 10px;
  font-size: 18px;
  color: white;
}

.movie-card p {
  margin: 5px;
}

.movie-card .movie-score {
  margin-top: 5px;
  font-size: 20px;
  color: white;
}

.movie-release-date{
  display :none;

}
