.movie-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0px auto;
  padding: 20px 10px;
}

.movie-card {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  margin: 10px;
}

.movie-container:nth-child(-n+3) {
  margin-top:65px;
}

.movie-card:hover{
 background-color: lightblue;
}

.movie-card .image {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.movie-card .title {
  margin-top: 10px;
  font-size: 18px;
}

.movie-card .score {
  margin-top: 5px;
  font-size: 14px;
}