.movies-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 3px solid red;
  background-color: rgb(25, 27, 25);}

  .movie-card.hidden{
    margin-right: 1.5rem;
    display: hidden;
  }