.movies-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(25, 27, 25);
  border: 3px solid white;
}
  

  .movie-card.hidden{
    margin-right: 2rem;
    visibility: hidden;
  }