.movies-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5%;
  background: linear-gradient(
    331deg,
    rgba(224, 194, 15, 1) 14%,
    rgba(152, 96, 204, 1) 79%
  );
}
