.searchbar {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 3rem;
  background: linear-gradient(
    90deg,
    rgba(243, 166, 138, 1) 17%,
    rgba(140, 229, 203, 1) 52%,
    rgba(73, 234, 150, 1) 86%
  );
}

.search-form {
  height: 35px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 4px 14px;
  background: white;
  border: 10px outset #4aad79;
}

input {
  line-height: 30px;
  outline: none;
  border: none;
  font-size: 1em;
  padding: 0 10px;
}
