.searchbar {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 3rem;
  background: linear-gradient(
    286deg,
    rgba(89, 105, 222, 1) 15%,
    rgba(199, 110, 231, 1) 42%,
    rgba(246, 247, 124, 1) 77%
  );
}

.search-form {
  height: 35px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 4px 14px;
  background: white;
}

input {
  line-height: 30px;
  outline: none;
  border: none;
  font-size: 1em;
  padding: 0 10px;
}
