.searchbar {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 3rem;
  background-color: #d3d3d3;
}

.search-form {
  height: 35px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 4px 14px;
  background: white;
}

input {
  line-height: 30px;
  outline: none;
  border: none;
  font-size: 1em;
  padding: 0 10px;
}
