header {
  /* border: 3px solid; */
  background-color: rgb(31, 33, 33);
  position: sticky;
  top: 0;
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}

header img {
  /* border: 3px solid; */
  max-height: 100%;
}

.topnav {
  /* margin: auto; */
  /*  border: 3px solid; */
  display: flex;
  align-items: center;
  /* align-items: center; */
  justify-content: space-around;
  width: 20%;
  position: fixed;
  height: 4rem;

  top: 0%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, 0%);
}

.topnav a {
  text-decoration: none;
  color: white;
}
