header {
  background-color: #665687;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid yellow;
}

header img {
  max-height: 100%;
}

.topnav {
  display: flex;
  align-items: center;
  /* align-items: center; */
  justify-content: space-around;
  width: 20%;
  position: fixed;
  height: 4rem;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.topnav a {
  text-decoration: none;
  color: white;
  transform: scale(1.1);

}

.header_links{
  border: 3px solid;
  padding: 0.3rem 1rem 0.3rem 1rem;
  border-radius:10px;
}
.header_links:hover{
  transform: scale(1.2);
}
.header_links:active{
  background-color: red;
}

.logo_link {
width: 4rem;
height: 4rem;
text-decoration: none;
}

.logo_link img{
  max-width: 100%;
  max-width: 100%;
}

.app_title{
  color: white;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  left: 7rem;
}
