*{
display: none;
min-width: 100px;
}

body{
	max-width: 1592px;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 1000vw;
	background-color:rgb(67, 73, 67);
	

}

.movie-container{
	width: 100%;
	height: 100%;
	padding: 60px;
	background-color: rgb(67, 73, 67);
	display: flex;
	color: aliceblue;
	
}

.movie-description-container{
	margin-left: 100px;
}

.movie-card{
	width: 100%;
	height: 100%;
	margin:20px;
	box-shadow:5px 3px 10px black ;
}


.movie-card-title{
	display: flex;
	font-size: 4.5em;
	padding-right: 200px;
	font-weight: bold;
}

.movie-card-writer{
	display: flex;
	clear: both;
	display: inline-block;
	font-size: 2.5em;
	margin-top: 10px;
	display: flex;
	justify-content: flex-start;
}

.movie-caracteristics{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	word-spacing: 2px;
}

.movie-card-release{
	font-size: 1.6em;
	vertical-align: baseline;
}

.movie-card-genres{
	font-size: 1.6em;
}

.movie-card-lenght{
	font-size: 1.6em;
}

.movie-card-rating{
	font-size: 1.4em;
	display: flex;
	margin-top: 10%;
}

.movie-card-synopsis{
	font-size: 1.3em;
	text-align: justify;
	margin-top: 5%;
	padding: 40px;
	
}
