



.page-container{
	max-width: fit-content;
	max-height: fit-content;
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 60px;
	background-color: rgb(25, 27, 25);
	display: flex;
	color: aliceblue;
	
}

.page-description-container{
	margin-left: 100px;
}

.page-description-container img{
	position: absolute;
	width: 70%;
	height: 100%;
	opacity: 10%;
	object-fit: cover;
	
}


.page-card-background{
display: flex;
height: 200px;
align-items: center;
justify-content: center;
} 

.page-card{
	width: 50%;
	height: 50%;
	margin:20px;
	box-shadow:5px 3px 10px black ;
}


.page-card-container{
		width: 100%;
		height: 100%;
		margin: 20px;
		box-shadow: 5px 3px 10px black;
}


.page-card-title{
	display: flex;
	font-size: 4.5em;
	padding-right: 200px;
	font-weight: bold;
	font-stretch:condensed ;
	border-bottom: 1px solid aliceblue;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page-card-writer{
	font-weight: bold;
	display: flex;
	clear: both;
	display: inline-block;
	font-size: 2.9em;
	margin-top: 30px;
	display: flex;
	justify-content: flex-start;
}

.page-caracteristics{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	word-spacing: 2px;
}

.page-card-release{
	font-size: 2em;
	vertical-align: baseline;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page-card-genres{
	font-size: 2em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page-card-lenght{
	font-size: 2em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page-card-rating{
	font-size: 2em;
	text-align: center;
	margin-top: 10%;
	margin-right: 80%;
	border-radius: 20px;
	background-color: black;

}

.page-card-synopsis{
	font-size: 1.3em;
	text-align: justify;
	margin-top: 5%;
	padding: 40px;
	font: caption;
	font-size: 2em;
	
}

.page-synopsis-title{
	font-weight: bolder;
	font-size: 2.3em;
	margin-top: 19vh;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	border-radius: 20px;
	background-color: black;
	text-align: center;
}
